/*/Footer*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


main {
  flex: 1 0 auto;
}

.jumbotron {
  background-image: url("../images/ny.jpg");
  background-position: center;
}

.panel-heading,
.panel-primary {
  height: 140px;
}
